{% extends 'base.html' %}

{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock title %}

{% block content %}
  <h1>Все посты пользователя {{ author.get_full_name }} </h1>
  <h4>Постов: {{ author.posts.count }} </h4>
  <h4>Подписчиков: {{ author.following.count }} </h4>
  <h4>Подписок: {{ author.follower.count }} </h4>
  <h4>Комментариев пользователя: {{ author.comments.count }} </h4>
  <div class="mb-5">
    {% if user.is_authenticated and user != author %}
      {% if following %}
        <a class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}"
        role="button">Отписаться</a>
      {% else %}
        <a class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}"
        role="button">Подписаться</a>
      {% endif %}
    {% endif %}
  </div>
  {% for post in page_obj %}
    {% include 'posts/includes/post.html' with without_profile_link=True %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock content %}